p {

    background-color: aliceblue;
    text-align: justify;
    color: darkslategray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;

}

